MYSQL_VERSION=8.0.36
MYSQL_ROOT_PASSWORD=root123456
MYSQL_DATABASE=intelligent_customer_chat
MYSQL_USER=icc
MYSQL_PASSWORD=icc123456
MYSQL_PORT=3306

REDIS_VERSION=7.2.13-alpine
REDIS_PORT=6379

ELASTICSEARCH_VERSION=8.12.0
ELASTICSEARCH_PORT=9200
ES_JAVA_OPTS=-Xms1g -Xmx1g

NACOS_VERSION=v2.4.3-slim
NACOS_PORT=8848
NACOS_GRPC_PORT=9848
NACOS_AUTH_ENABLE=false

APP_AI_CHAT_ENABLED=false
APP_KNOWLEDGE_EMBEDDING_ENABLED=false
APP_MAIL_ENABLED=false
APP_MAIL_POLLING_ENABLED=false
APP_MAIL_OUTBOUND_ENABLED=false
APP_NACOS_CONFIG_ENABLED=false
APP_XXL_ENABLED=false
